{% include 'header.twig' %}
<body id="app">
<div class="container" style="background-color:#fff; margin:5% auto; border-radius:15px;border: 8px double #22394C;"
     id="dashboard" v-cloak>

    <div class="row">
        <div class="col-sm-12">
            <h1>Dashboard</h1>
        </div>
        <div class="col-sm-3">
            <div class="list-group">
                <a href="#" v-bind:class="{'active' : visible}" class="list-group-item" v-on:click="visible = true;">
                    Project &amp; Project Pictures
                </a>
                <a href="#" v-bind:class="{'active' : !visible}" class="list-group-item" v-on:click="visible = false;">
                    Text &amp; Content
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default" v-if="visible">
                <div class="panel-heading">Project &amp; Project Pictures</div>
                <div class="panel-body">
                    <div class="wrap" v-for="project in projects">
                        <new-project :project="project"></new-project>
                    </div>
                    <hr>
                    <div class="wrap">
                        <div class="col-sm-12">
                            <div class="well">
                                <div class="row">
                                    <template v-for="image in uploadedPics">
                                        <thumb :image="image"></thumb>
                                    </template>

                                </div>
                            </div>
                            <input type="file" class="hidden" id="upload" name="pics[]" v-on:change="uploadImages" data-vv-as="Project Pictures" v-validate="'required'"
                                   accept="image/*" multiple/>
                            <button type="button" class="btn btn-default btn-lg btn-block" v-on:click="upload"
                                    style="margin-bottom: 2%;">Upload
                            </button>
                        </div>
                        <div class="col-sm-12">
                            <div class="well">
                                <form class="form-horizontal">
                                    <div v-bind:class="{'form-group': true, 'has-error': errors.has('title') }">
                                        <label class="col-sm-2 control-label" style="text-align: left;" for="title">Project
                                            Title</label>
                                        <div class="col-sm-12">
                                            <input type="text" v-validate="'required'" v-model="project.title" data-vv-as="Project Title "
                                                   class="form-control dashboard-inputs" id="project.title" name="title"
                                                   placeholder="Project Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" v-bind:class="{'active': true, 'error-area': errors.has('eng') }">
                                                    <a href="#english" aria-controls="english" role="tab" data-toggle="tab">English</a>
                                                </li>
                                                <li role="presentation" v-bind:class="{'': true, 'error-area': errors.has('srb') }"> 
                                                    <a href="#serbian" aria-controls="serbian" role="tab" data-toggle="tab">Serbian</a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="english">

                                                    <div v-bind:class="{'form-group': true, 'has-errors': errors.has('eng') }">
                                                    <textarea class="form-control dashboard-inputs" rows="3" data-vv-as="English Description "
                                                              v-validate="'required'" v-model="project.aboutenglish" name="eng"
                                                              style=" resize: none;">English</textarea>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="serbian">
                                                    <div v-bind:class="{'form-group': true, 'has-errors': errors.has('srb') }">
                                                    <textarea class="form-control dashboard-inputs" rows="3" data-vv-as="Serbian Description "
                                                              v-validate="'required'" v-model="project.about" name="srb"
                                                              style=" resize: none;">Serbian</textarea>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-lg btn-block"
                                            style="margin-bottom: 2%;" v-on:click="submit">Create
                                    </button>
                                </form>

                                <alert :show.sync="showError" placement="top-right" type="danger" width="400px"
                                       dismissable>
                                    <span class="icon-info-circled alert-icon-float-left"></span>
                                    <p style="white-space: pre-wrap;"><strong>Warning</strong> ${errorMessage}</p>
                                </alert>
                                <alert :show.sync="showProcessing" placement="top" type="info" width="400px"
                                       dismissable>
                                    <span class="icon-ok-circled alert-icon-float-left"></span>
                                    <p style="white-space: pre-wrap;"><strong>Heads Up!</strong>${message}</p>
                                </alert>
                                <alert :show.sync="success" placement="top-right" type="success" width="400px"
                                       dismissable>
                                    <span class="icon-ok-circled alert-icon-float-left"></span>
                                    <p style="white-space: pre-wrap;"><strong>Well Done!</strong>${successMessage}</p>
                                </alert>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" v-if="!visible">
                <div class="panel-heading">Text &amp; Content</div>
                <div class="panel-body">
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/front-end/resources/js/admin/commons.chunk.js"></script>
<script src="/front-end/resources/js/admin/dashboard.chunk.js"></script>

</body>
</html>