<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footerMenu">
                <ul>
                    <li>
                        <a href="#mainFrame">Home</a>
                    </li>
                    <li>
                        <a href="pages/projects/index.php">Projects</a>
                    </li>
                    <li>
                        <a href="#contactUs">Contact Us</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 copy">
                <p>Copyright &copy CodingBad</p>
            </div>
        </div>
    </div>
</footer>